
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/static/images/favicon.ico">

    <title>Demographics report</title>
    <link href="../assets/static/css/style.css" rel="stylesheet">
    <link href="../assets/static/css/font-awesome.css" rel="stylesheet">

  </head>
  <body>
  <div class="container"><!--outer-->
    <!-- Summary section -->
    <div id="summary" class="container">

      <div class="top-band brand-green"></div>
      <div class="flap-right brand-green-bg white center-text">DEMOGRAPHICS</div>
      <a href="/" class="logo"><img src="../assets/static/images/KLP_logo@2x.png" alt="logo-klp" width="52"></a>
      <div class="heading-tiny date-header"> Primary School Report | 11 November, 2015</div>
      <hr/>
      <div class="heading-secondary heading-border">BANGALORE CENTRAL</div>

      
      <div class="base-spacing-mid"></div>
      <div class="sect-parent">
        <div class="sect-third rounded-sect">
          <div class="heading-tiny-uppercase">Boundary</div>
          <h2 class="heading-secondary brand-blue align-left">BANGALORE CENTRAL</h2> 
          <div class="heading-tiny-uppercase">Election Commission Code</div>
          <h2 class="heading-secondary brand-blue align-left">25</h2>
          <div class="heading-tiny-uppercase">Elected Representative</div>
          <h2 class="heading-secondary brand-blue align-left">PC MOHAN (BJP)</h2>
        </div><!--sect-third-->
        <div class="sect-two-third grey-mist-bg rounded-sect">
          <div class="sect-parent">
              <div class="sect-half">
                <div class="heading-tiny-uppercase">Schools</div>
                <h2 class="heading-secondary black align-left">314</h2> 
                <div class="heading-tiny-uppercase">Teachers</div>
                <h2 class="heading-secondary black align-left">2000</h2> 
                <div class="heading-tiny-uppercase">Pupil-to-Teacher Ratio</div>
                <div class="align-left"> <span class="heading-secondary black"> 20:1 > <span class="brand-green"> 35:1 </span></span>  <span class="heading-tiny brand-green">(Recommended)</span></div>
              </div>
              <div class="sect-half">
                <div class="heading-tiny-uppercase">Students</div>
                  <div class="module-stats-icon module-stats-boygirl"><!--1-->
                      <span class="icon-boy-girl"></span>
                      <div class="module-stats-info"><!--2-->
                          <div class="uppercase">Total</div>
                          <p class="module-stats-label">47145</p>
                      </div><!--2-->
                  </div><!--1-->

                  <div class="heading-tiny-uppercase">Gender Profile</div>
                  <div class="module-stats-icon module-stats-girl"><!--2-->
                      <span class="icon-girl"></span>
                      <div class="module-stats-info"><!--3-->
                          <div class="uppercase">Girls</div>
                          <p class="module-stats-label">23118</p>
                      </div><!--3-->          
                  </div><!--2-->    
                  <div class="module-stats-icon"><!--4-->
                      <span class="icon-boy"></span>
                      <div class="module-stats-info"><!--5-->
                          <div class="uppercase">Boys</div>
                          <p class="module-stats-label">24027</p>
                      </div><!--5-->
                  </div><!--4-->   
                  <div class="bar-graph-wrap "><!--1-->
                      <div class="bar-graph"><!--2-->
                          <div class="clear-fix"><!--3-->
                              <div class="float-left pink-salmon">49%</div>
                              <div class="float-right brand-blue">51%</div>
                          </div><!--3-->
                          <div class="bar-custom"><!--4-->
                              <div class="bar-value bar-value-100 brand-blue-bg" style="width:100%;"><!--5-->
                                  <div class="bar-value bar-value-49 pink-salmon-bg" style="width:49%;"></div>
                              </div><!--5-->
                          </div><!--4-->     
                      </div> <!-- /bar-graph --><!--2-->
                  </div> <!-- /bar-graph-wrap --><!--1-->          
              </div>
          </div><!-- inner sect-parent-->
        </div><!--sect-two-third-->
      </div><!--sect-parent-->
    </div><!--summary container -->
    <div id="category" class="container">
        <div class="base-spacing-sm"></div>
        <hr/>
        <h2 class="heading-border brand-turquoise">School Category Profile</h2>
        <div class="sect-parent">
          <div class="sect-three-quarter rounded-sect">
            <div class="sect-parent">
              <div class="sect-half">
                <div class="heading-tiny-uppercase">School Distribution by Category</div>
                <div class="bar-graph-wrap float-left"><!--1-->
                  <div class="bar-num-label brand-blue">146/314</div>
                  <div class="bar-custom tooltip" aria-label="146 Schools"><!--2-->
                    <div class="bar-value brand-orange-bg float-left" style="width:46.5%;"></div><!--3-->
                  </div><!--2-->
                  <div class="bar-percent grey-gravel">46.5%</div><!--6-->
                </div><!--1-->
                <div class="bar-graph-wrap float-left"><!--1-->
                  <div class="bar-num-label brand-blue">42/314</div>
                  <div class="bar-custom tooltip" aria-label="42 Schools"><!--2-->
                    <div class="bar-value grey-gravel-bg float-left" style="width:13.4%;"></div><!--3-->
                  </div><!--2-->
                  <div class="bar-percent grey-gravel">13.4%</div><!--6-->
                </div><!--1-->
                <div class="bar-graph-wrap float-left"><!--1-->
                  <div class="bar-num-label brand-blue">126/314</div>
                  <div class="bar-custom tooltip" aria-label="126 Schools"><!--2-->
                    <div class="bar-value grey-gravel-bg float-left" style="width:40.1%;"></div><!--3-->
                  </div><!--2-->
                  <div class="bar-percent grey-gravel">40.1%</div><!--6-->
                </div><!--1-->

              </div><!--sect-half-->
              <div class="sect-half">
                <div class="heading-tiny-uppercase">Average Enrollment by Category</div>
                <div class="sect-parent">
                  <div class="sect-two-third">
                    <div class="bar-lookup">Lower Primary</div>
                    <div class="bar-lookup">Upper Primary</div>
                    <div class="bar-lookup">Model Primary</div>
                  </div>
                  <div class="sect-third">
                    <div class="bar-lookup">78</div>
                    <div class="bar-lookup">178</div>
                    <div class="bar-lookup">315</div>
                  </div>
                </div>
                
              </div><!--sect-half-->
            </div><!-- inner sect-parent-->
          </div><!--sect-three-quarter-->
          <div class="sect-quarter grey-mist-bg rounded-sect">
            <div class="heading-tiny-uppercase">Total Enrollment</div>
            <div class="base-spacing-sm"></div>
            <div class="heading-tiny bold">Classes 1,2,3 and 4</div>
            <div class="brand-blue">30000</div>
            <div class="base-spacing-sm"></div>
            <div class="heading-tiny bold">Classes 5,6,7 and 8</div>
            <div class="brand-blue"> 17145</div>
            <div class="base-spacing-sm"></div>           
          </div><!--sect-quarter-->
      </div><!--sect-parent-->
    </div><!-- category container-->
    <div id="language" class="container">
      <div class="base-spacing-sm"></div>
      <hr/>
      <h2 class="heading-border brand-turquoise">Language Profile</h2>
        <div class="sect-parent">
        </div>
      
    </div>
  </div> <!-- outer container -->
  </body>
</html>